<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gulp Fiction</title>
        <link rel="stylesheet" href="app.css" />
        <script src="components.js"></script>
        <script src="app.js"></script>
        <script src="views.js"></script>
    </head>

    <body ng-app="app" ng-controller="appController">
        <header>
            <h1>Gulp Fiction</h1>
            <project-picker projects="projects" current-project="project"></project-picker>

            <div class="options">
                <button ng-click="exportProject(project)"><i class="fa fa-cloud-download"></i></button>
                <button ng-click="connectDb()"><i class="fa fa-dropbox"></i>{{dbAccountInfo.display_name}}</button>
            </div>
        </header>

        <npm-search style="margin-top:50px;display:block;"></npm-search>

        <div ng-view></div>
        <lightbox is-active="false">
            <p>:{{project.name}}</p>
        </lightbox>
    </body>
</html>