<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gulp Fiction</title>
        <link rel="stylesheet" href="app.css" />
        <script type="text/javascript">
          (function(d) {
            var config = {
              kitId: 'spc1sua',
              scriptTimeout: 3000
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>
        <script src="components.js"></script>
        <script src="app.js"></script>
        <script src="views.js"></script>
    </head>

    <body ng-app="app" ng-controller="appController">
        <header>
            <h1>Gulp Fiction</h1>
            <project-picker projects="projects" current-project="project" on-switch-project="switchToProject(project)"></project-picker>

            <div class="options">
                <button ng-click="removeProject()">X</button>
                <button ng-click="addProject()">+</button>
                <button ng-click="exportProject(project)"><i class="fa fa-cloud-download"></i></button>
                <button ng-click="connectDb()"><i class="fa fa-dropbox"></i>{{dbAccountInfo.display_name}}</button>
            </div>
        </header>

        <npm-search style="margin-top:50px;display:block;"></npm-search>

        <div ng-view></div>
        <lightbox is-active="false">
            <p>:{{project.name}}</p>
        </lightbox>
    </body>
</html>