<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Gulp Fiction</title>
        <link rel="stylesheet" href="app.css" />
        <script src="components.js"></script>
        <script src="app.js"></script>
        <script src="views.js"></script>
    </head>

    <body ng-app="app" ng-controller="appController">
        <header>
            <h1>Gulp Fiction</h1>
            <nav ng-click="navOpen = !navOpen" ng-class="{'is-open': navOpen}">
                <menu>
                    <li ng-repeat="project in projects">{{ project.name }}</li>
                </menu>
            </nav>
            <div class="options">
                <button><i class="fa fa-cloud-download"></i></button>
                <button><i class="fa fa-dropbox"></i></button>
            </div>
        </header>

        <npm-search style="margin-top:50px;display:block;"></npm-search>

    </body>
</html>