html {
	font-size: 14px;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	padding-top: 4rem;
	color: @color-text;
	&.has-lightbox {
		overflow: hidden;
	}

	.wf-loading & {
		visibility: hidden;
	}
}

*, *:after, *:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

menu {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}
}

.lightbox {
	z-index: 10;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.4);
	.flex();
	.alignItems(center);
	.justifyContent(space-around);
}

button {
	outline: none;
	font-size: 1rem;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	margin: 0;

	&.remove:before {
		.fontAwesome("\f057");
	}

	&.add:before {
		.fontAwesome("\f055");
	}
}

.lightbox-content {
	background: white;
	padding: 2rem;
	width: 600px;
}

input[type="checkbox"] {
	opacity: 0;
	position: absolute;

	& + label:before {
		width: 1.1em;
		.fontAwesome("\f096");
	}

	&:checked + label:before {
		.fontAwesome("\f046");
	}
}

.input-container {
	.flex();
	margin-bottom: .5rem;

	input {
		.flex(1);
		background: rgba(255,255,255,0.6);
		border: none;
		outline: none;
		transition: all .2s;
		padding: .1rem .3rem;
		margin: 0;
		font-size: 1rem;

		&:hover {
			background: rgba(255,255,255,0.7);
		}

		&:focus {
			background: rgba(255,255,255,0.8);
		}
	}

	button {
		margin-left: .3rem;
	}
}