html {
	font-size: 14px;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	padding-top: 4rem;
	color: @color-text;
	background-image: url(/img/bg/guns01.png);
	background-color: fadeOut(#f9da4b, 20%);
	background-attachment: fixed;
	box-shadow: inset 0 0 10px fade(@color-shadow, 30%);

	&.has-lightbox {
		overflow: hidden;
	}

	.wf-loading & {
		visibility: hidden;
	}
}

*, *:after, *:before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

menu {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}
}

button {
	outline: none;
	font-size: 1rem;
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	margin: 0;

	&.remove:before, &.close:before {
		.fontAwesome("\f057");
	}

	&.add:before {
		.fontAwesome("\f055");
	}

	&.button {
		padding: .7rem;
		font-size: 1.5rem;
		background: fade(@color-second, 70);
		border-radius: 3px;
		transition: .2s all;

		&.cancel {
			background: lightgrey;
		}

		&:hover {
			background: fade(@color-second, 80);
		}
	}

	&.close {
        position: absolute;
		top: -0.5rem;
		right: -0.5rem;
		font-size: 2rem;
		line-height: 1;
		cursor: pointer;
		opacity: .7;
		transition: .2s ease all;

		&:hover {
			opacity: 1;
		}
	}
}

.button-container {
	text-align: right;
	margin-top: 1rem;

	.button, button {
		margin-left: 1rem;
	}
}

input[type="checkbox"] {
	opacity: 0;
	position: absolute;

	& + label:before {
		width: 1.1em;
		.fontAwesome("\f096");
	}

	&:checked + label:before {
		.fontAwesome("\f046");
	}
}

.input-container {
	.flex();
	margin-bottom: .5rem;

	input {
		.flex(1);
		background: rgba(255,255,255,0.6);
		border: none;
		outline: none;
		transition: all .2s;
		padding: .1rem .3rem;
		margin: 0;
		font-size: 1rem;

		&:hover {
			background: rgba(255,255,255,0.7);
		}

		&:focus {
			background: rgba(255,255,255,0.8);
		}
	}
}

.logo {
	position: relative;
	text-shadow: 0 .1em 0 @color-shadow;
	width: 7.4em;
	height: 3em;
	display: inline-block;
	letter-spacing: -.07em;
	line-height: 0.8em;
	color: @color-second;
	font-weight: 700;
	text-align: left;

	> * {
		font-size: 1.7em;
		position: absolute;
	}

	.gulp {
		top: 0.2em;
		left: 1.4em;
	}

	.fiction {
		top: 1.05em;
		left: 1.86em;
	}

	img {
		width: 1.75em;
		height: 1.75em;
	}
}

.inactive-step {
	color: #ccc;
}
