@header-color: @color-first;
@header-opacity: 0.8;

header {
	-webkit-user-select: none;
	background: @header-color;
	position: fixed;
	z-index: 9;
	width: 100%;
	top: 0;
	.flex();
	.justifyContent(space-between);
	height: 4rem;
	box-shadow: 0 2px 2px fade(@color-shadow, 10%);
	cursor: default;

	&, .fa {
		color: @color-second;
		text-shadow: 0 .1rem 0 @color-shadow;
	}

	> * {
		.flex(1);
		font-size: 2rem;
		margin: 0;
		padding: .5rem;
	}

	h1 {
		line-height: 0.8rem;
		letter-spacing: -.07rem;
		position: relative;
		a {
			display: block;
			height: 50px;
			width: 170px;
			cursor: pointer;
			opacity: @header-opacity;
			&:hover {
				opacity: 1;
			}
		}
		a > * {
			position: absolute;
		}

		.gulp {
			left: 3rem;
			top: 0.7rem;
		}

		.fiction {
			top: 2.35rem;
			left: 3.76rem;
		}

		img.logo {
			width: 3rem;
			height: 3rem;
		}
	}

	nav {
		position: relative;
		padding: 0;

		&.is-open {
			menu {
				opacity: 1;
				background: darken(@header-color,10%);

				li {
					display: block;
					&:not(:last-child) {
						//	margin-bottom: 1rem;
					}
				}
			}
		}

	}

	menu {
		-webkit-user-select: none;
		position: absolute;
		width: 100%;
		text-align: center;
		background: @header-color;
		padding: .5rem;
		font-weight: bold;
		opacity: @header-opacity;
		&:hover {
			opacity: 1;
		}

		li {
			margin-bottom: 0rem;
			cursor: pointer;

			&:not(:first-child) {
				display: none;
				padding: .5rem;

				&:hover {
					background-color: lighten(@color-first, 10);
				}
			}

			input {
				text-align: center;
				width: 100%;
				font-size: 1em;
			}
		}
	}

	.options {
		text-align: right;
		padding-right: 1rem;

		> * {
			display: inline-block;

			&:first-child {
				padding-right: 1.3rem;
				// border-right: 1px solid @color-second;
			}
		}

		button {
			font-size: 2rem;
			background: none;
			border: none;
			cursor: pointer;
			padding: 0;
			margin: 0 0 0 .5rem;
			opacity: @header-opacity;
			outline: 0;
			&:hover {
				opacity: 1;
			}
		}
	}
}