@header-color: @color-first;

header {
	background: @header-color;
	position: fixed;
	width: 100%;
	top: 0;	
	.flex();
	.justifyContent(space-between);

	> * {
		.flex(1);
		font-size: 2rem;
		margin: 0;
		padding: .5rem;
	}

	nav {
		position: relative;
		padding: 0;

		&.is-open {
			menu {
				background: darken(@header-color,10%);

				li {
					display: block;
					&:not(:last-child) {
					//	margin-bottom: 1rem;
				}
			}
			}
		}

	}

	menu {
		position: absolute;
		width: 100%;
		text-align: center;
		background: @header-color;
		padding: .5rem;

		li {
			margin-bottom: 0rem;
			cursor: pointer;

			&:first-child:after {
				.fontAwesome("\A0\f0d7");
			}

			&:not(:first-child) {
				display: none;
				padding: .5rem;

				&:hover {
					background-color: @color-second;
				}
			}

			input {
				text-align: center;
				width: 100%;
				font-size: 1em;
			}
		}
	}

	.options {
		text-align: right;

		button {
			font-size: 2rem;
			background: none;
			border: none;
			cursor: pointer;
			padding: 0;
			margin: 0;
		}
	}
}