<div class="lightbox" ng-show="isActive" >
    <div class="lightbox-center">
        <div class="lightbox-content" ng-style="{width: customWidth}">
            <button ng-if="showClose" ng-click="close()" class="close"></button>
            <div ng-transclude></div>

            <div ng-if="showBigClose" class="button-container">
                <button class="button cancel" ng-click="close()">
                    Sounds cool, let me start!
                </button>
            </div>
        </div>
    </div>
</div>