<section class="task" ng-repeat="task in project.tasks">
    <div class="settings">
        <span data-tooltip="Delete this task"><i class="fa fa-times-circle" ng-click="removeTask(task.name)"></i></span>
        <h3 inline-edit model="task.name" on-save="changeTaskName(task, changedValue)"></h3>
        <h4>options</h4>
        <ul class="reload-options">
        	<li>
        		<input ng-model="task.isWatchEnabled" type="checkbox" id="{{ task.name }}_enableWatch">
        		<label for="{{ task.name }}_enableWatch">watch</label>
        	</li>
        	<li ng-if="task.isWatchEnabled">
        		<input ng-model="task.isReloadEnabled" type="checkbox" id="{{ task.name }}_enableReload">
        		<label for="{{ task.name }}_enableReload">reload</label>
        	</li>
        </ul>
        <h4>dependencies</h4>
        <ul class="dependencies">
        	<li ng-repeat="dependency in project.tasks" ng-if="dependency.name !== task.name">

        		<input ng-model="task.preTasks[dependency.name]" type="checkbox" id="{{ task.name }}_{{ dependency.name }}">
        		<label for="{{ task.name }}_{{ dependency.name }}">{{ dependency.name }}</label>

        	</li>
        </ul>
    </div>
    <div class="content">
        <div class="source">
            <h4>Source</h4>
        	<ul>
        		<li ng-repeat="input in task.inputGlob track by $index">
        			<input type="text" ng-model="input.path"/>
        			<button ng-if="task.inputGlob.length > 1" ng-click="removeInputGlob(task, $index);">remove</button>
        		</li>
        	</ul>
        	<button ng-click="addInputGlob(task)">add src</button>
        </div>

        <button ng-repeat-end ng-click="addStep(task, 0)" class="add-task">
            <i class="fa fa-arrow-right"></i>
            <i class="fa fa-plus-circle"></i>
        </button>

        <div class="step" ng-repeat-start="step in task.steps">
            <i class="fa fa-times-circle delete" ng-click="removeStep(task, $index)"></i>

            <npm-search ng-if="step.justAdded" on-select-package="assignPackageToStep(step, npmPackage)"></npm-search>

            <div ng-if="!step.justAdded">
                <h4>{{step.name}}</h4>
                <p>{{step.description}}</p>
            </div>

        </div>

        <button ng-repeat-end ng-click="addStep(task, $index+1)" class="add-task">
            <i class="fa fa-arrow-right"></i>
            <i class="fa fa-plus-circle"></i>
        </button>

        <div class="dest">
            <h4>Destination</h4>
        	<input type="text" ng-model="task.outputDir"/>
        </div>
    </div>
</section>
<section class="task">
    <div class="settings">
        <button ng-click="addTask()" data-tooltip="Add task">Add task +</a>
    </div>
    <div class="content">
    </div>
</section>