<nav ng-class="{'is-open': navOpen}"
        data-tooltip="Rename your project" data-tooltip-options="only-help bottom oneline">
    <menu>
        <li ng-class="{'is-focused':pickerFocused}">
        	<input ng-model="currentProject.name" required ng-max-length="20"
        		ng-focus="pickerFocused=true; navOpen=false" 
        		ng-blur="pickerFocused=false;" />
        	<span ng-show="projects.length > 1" 
        			class="select-button" 
        			ng-class="{'is-open': navOpen}"
        			data-tooltip="Select project" 
        			data-tooltip-options="bottom oneline only-help">
        		<i ng-click="navOpen = !navOpen" class="fa fa-caret-down"></i>
        	</span>
        </li>
        <li ng-click="switchToProject(project)"
            ng-repeat="project in projects"
            ng-show="currentProject != project">
            {{ project.name }}
        </li>
    </menu>
</nav>
