<section class="task" ng-repeat="task in project.tasks"
        data-tooltip="Define your task steps" data-tooltip-options="only-help bottom oneline">
    <div class="settings"
        data-tooltip="Set your task settings" data-tooltip-options="only-help right">

        <span data-tooltip="Delete this task" data-tooltip-options="right" class="delete">
            <i class="fa fa-times-circle" ng-click="confirmRemoveTask(task)"></i>
        </span>

        <confirm-lightbox   is-active="showConfirmRemoveTask"
                            name="{{task.name}}"
                            custom-width="300"
                            on-confirm="removeTask(task.id)">
            <h1>Delete task {{name}}?</h1>
        </confirm-lightbox>

        <h3>
            <input ng-model="task.name" required ng-pattern="/^[a-zA-Z0-9-_]+$/"/>
        </h3>

        <ul class="reload-options">
        	<li>
        		<input ng-model="task.isWatchEnabled" type="checkbox" id="{{ task.name }}_enableWatch">
        		<label for="{{ task.name }}_enableWatch">watch</label>
        	</li>
            &nbsp;
        	<li ng-if="task.isWatchEnabled">
        		<input ng-model="task.isReloadEnabled" type="checkbox" id="{{ task.name }}_enableReload">
        		<label for="{{ task.name }}_enableReload">reload</label>
        	</li>
        </ul>
        <h4>dependencies</h4>
        <ul class="dependencies">
        	<li ng-repeat="dependency in project.tasks | unique:'name'" ng-if="dependency.name !== task.name">

        		<input ng-model="task.preTasks[dependency.id]" type="checkbox" id="{{ task.name }}_{{ dependency.name }}">
        		<label for="{{ task.name }}_{{ dependency.name }}">{{ dependency.name }}</label>

        	</li>
        </ul>
    </div>
    <div class="content">
        <div class="source">
            <h4>Sources</h4>
            <p class="description">Paths for source files.</p>
        	<ul>
        		<li ng-repeat="input in task.inputGlob track by $index"
                class="input-container">
        			<input placeholder="enter path" type="text" ng-model="input.path"/>
        			<button class="remove" ng-if="task.inputGlob.length > 1" ng-click="removeInputGlob(task, $index);"></button>
        		</li>
        	</ul>
        	<button ng-click="addInputGlob(task)" class="add"> add src</button>
        </div>

        <button ng-repeat-end ng-click="addStep(task, 0)" class="add-step">
            <i class="fa fa-arrow-right"></i>
            <i class="fa fa-plus-circle"></i>
        </button>

        <div class="step"
                ng-repeat-start="step in task.steps"
                ng-class="{'is-focused': step === focusedStep}">
            <button class="close" ng-click="removeStep(task, $index)"></button>

            <npm-search class="npm-search" ng-if="step.justAdded" on-select-package="assignPackageToStep(step, npmPackage)"></npm-search>

            <div ng-click="setFocusedStep(step)">

                <div ng-if="!step.justAdded">
                    <h4>{{step.name}}</h4>
                    <p class="description">By <b>{{step.author}}</b>. Version <b>{{step.version}}</b></p>
                    <step-options options="step.options"></step-options>
                </div>

            </div>
        </div>

        <button ng-repeat-end ng-click="addStep(task, $index + 1)" class="add-step">
            <i class="fa fa-arrow-right"></i>
            <i class="fa fa-plus-circle"></i>
        </button>

        <div class="dest">
            <h4>Destination</h4>
            <p class="description">Path for the result of this task.</p>
            <div class="input-container">
                <input placeholder="enter path" type="text" ng-model="task.outputDir"/>
            </div>
        </div>
    </div>

</section>
<section class="task add-task">
    <div class="settings">
        <button ng-click="addTask()" class="add"><br>add task</button>
    </div>
    <div class="content">
    </div>
</section>

<documentation-sidebar focused-step="focusedStep" is-active="sidebarActive">
</documentation-sidebar>


